<!DOCTYPE html>
<html>
<head>
    <title>Pharmacy Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Pharmacy Management System</h1>
    <ul>
        <li><a href="/drugs">View Drugs</a></li>
        <li><a href="/patients">View Patients</a></li>
        <li><a href="/prescriptions">View Prescriptions</a></li>
        <li><a href="/suppliers">View Suppliers</a></li>
        <li><a href="/staff">View Pharmacy Staff</a></li>
        <li><a href="/dispensed">View Dispensed Medications</a></li>
    </ul>
</body>
</html>
