<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patients</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Patients</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Medical History</th>
            <th>Allergies</th>
            <th>Action</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
                <form action="/delete_patient/{{ row[0] }}" method="POST">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add_patient">
        <button type="submit" class="add-patient-button">Add New Patient</button>
    </a>
    <br>
    <form action="/" method="get">
        <input type="submit" value="Back to Main Menu" class="back-to-main-menu">
    </form>    
    
</body>
</html>
